<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

   <center><body>

        <h1>
                <a href="/cmd/start" class="button">Start</a>
                <a href="/cmd/restart" class="button">Restart</a>
                <a href="/cmd/shot" class="button">Foto</a>
                <a href="/cmd/quit" class="button">Quit</a>
        </h1>
        <h1> {{ msg }}</h1>
        <h1>
        <form action="/dis/" method="get">
            <input type="number" name="spin"  required>
            <input type="submit" name="distance" value="Switch distance">

        Auto mode

            <label class="switch">
            <input type="checkbox" name="auto">
            <span class="slider round"></span>
            </label>
            </form>
        </h1>

       <img src="{{ url_for('video_feed') }}">
   </center>

</body>
</html>