<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

   <center><body>


                <a href="/cmd/start" class="button big-btn">Start</a>
                <a href="/cmd/restart" class="button">Restart</a>
                <a href="/cmd/shot" class="button">Foto</a>
                <a href="/cmd/quit" class="button">Quit</a>

        <h1> {{ msg }}</h1>
        <h1>
        <form action="/combine" method="get">
            <p>Auto mode
            <label class="switch">
            <input type="checkbox" name="auto" {{ auto_status }}>
            <span class="slider round"></span>
            </label></p>
            <input type="number" name="spin" placeholder="15">
            <input type="submit">
            </form></h1>
        <hr>


       <img src="{{ url_for('video_feed') }}" width="100%" height="auto">
   </center>

</body>
</html>